# temp files
*~
*#
*.swp

# mac-specific
*.DS_Store

# python temp files
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

# used by the container build
/code
/container

# Sphinx documentation
docs/build/
docs/source/_build
docs/source/generated
